/* adding background image */
body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, 0.5);
}
body,html{
    height: 100%;
}
.imgheight{
    height: 500px;
}
.menucolor{
    color:var(--bs-pink);
}
.regborder{
    border:1px dashed white;
}
@media (max-width:1000px) {
    #carouselExampleInterval{
        display:none;
      
    }
    #imgphone{
        display: block;
    }
}
@media (min-width:1000px) {
        #imgphone{
            display: none;
        }
 }
 footer{
    position:fixed;
    width:100%;
    bottom:0;
 }
 .card_image{
   height: 200px;
 }
 #vegItems h4{
    color:green;
 }
 #nVegItems h4{
    color:red;
 }
 .regRadio,.ps-4 {
    padding-left: 8rem !important;
    } 
#loginpage{
    margin-top:50vw;
}
